/*------------------------------------*/
/*basics setup */
/*------------------------------------*/


*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    background-color: white;
    color: #555;
    font-family: 'Lato' , 'Arial';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
/*------------------------------------*/
/* reusable */
/*------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

.box p{
    font-size: 90%;
    line-height: 145%
}
.icon-big {
    font-size: 350%;
    color: #05f20e;
    display: block;
    margin-bottom: 10px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #05f20e;
    font-size: 120%;
    margin-right: 10px;
    
    /* secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}


/*------------------------------------*/
/* links */
/*------------------------------------*/

a:link,
a:visited {
    color: #3fc344;
    text-decoration: none;
    padding: 1px;
    border-bottom: 1px solid #3fc344;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}



/*------------------------------------*/
/* heading */
/*------------------------------------*/
h1 {
    margin: 0;
    color: #fff;
    font-size: 300%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}
h2 {
    margin-bottom: 30px;
    color: rgb(0, 0, 0);
    font-size: 180;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: px;
    text-align: center
}

h2:after {
    display: block;
    height: 2px;
    background-color: #05f20e;
    content: "";
    width: 500px;
    margin: 0 auto;
    margin-top: 30px;
    
}

h3 {
    font-size: 100%;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 10px
}

/*------------------------------------*/
/* paragraph */
/*------------------------------------*/
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}





/*------------------------------------*/
/* btns */
/*------------------------------------*/
.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.4s, border 0.4s, color 0.4s;
    transition: background-color 0.4s, border 0.4s, color 0.4s;
    
}
.btn-full:link,
.btn-full:visited,
input[input=submit]{
    background-color: #05f20e;
    border: 1px solid #05f20e;
    color: #fff;
    margin-right: 15px;
}
.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #05f20e;
    color: #05f20e;
}
.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #33cc39;
}
.btn-full:hover,
.btn-full:active {
    background-color: #33cc39;
    border: 1px solid #33cc39;
    color: #fff;
}
.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #33cc39;
    color: #fff;
}
/*------------------------------------*/
/* header */
/*------------------------------------*/

header {
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.71)),to(rgba(0, 1, 0, 0.71))), url(IMAGES/hero-min.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.71),rgba(0, 1, 0, 0.71)), url(IMAGES/hero-min.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}
.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo-black {display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}
/* main nav */


.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li{
    margin-left: 40px;
    display: inline-block
}
.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.4s;
    transition: border-bottom 0.4s;
}
.main-nav li a:hover,
.main-nav li as:active {
    border-bottom: 2px solid  #05f20e;
    
}

/* mob-navi */
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

mobile-nav-icon i {
    font-size: 200%;
    color: #fff
}

/* sticky navi */
.main-nav {
    margin-top: 25px;
}

.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 8px 0;
    text-decoration: none;
    color: #555;
}
.sticky .logo {
    display: none;
}
.sticky .logo-black {
    display: block;
}

/*------------------------------------*/
/* meals */
/*------------------------------------*/

.section-meal {
    padding: 0;
}

.meal-showcase {
    list-style: none;
    width: 100%;
}

.meal-showcase li {
    display: block;
    float: left;
    width: 25%;
    overflow: hidden;
    background: #000;
}

.meal-images img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: opacity 0.5s ,-webkit-transform 0.5s;
    transition: opacity 0.5s ,-webkit-transform 0.5s;
    transition: transform 0.5s ,opacity 0.5s;
    transition: transform 0.5s ,opacity 0.5s ,-webkit-transform 0.5s;
}

.meal-images img:hover {
    opacity: 1;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

/*------------------------------------*/
/* features */
/*------------------------------------*/

.section-features .long-copy {
    margin-bottom: 20px;
}

/*------------------------------------*/
/* fhow it works */
/*------------------------------------*/
.section-step {
    background-color: rgb(227, 227, 227);
}


.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
     margin-top: 30px
        
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 50px;
}
.works-step div {
    color: #33cc39;
    border: 2px solid #447c46;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: none;
    font-size: 150%;
    margin-right: 25px;
}
.btn-app:link,
.btn-app:visited {
    border: 0; 
}


.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

/*------------------------------------*/
/* cities */
/*------------------------------------*/


.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature {
    margin-bottom: 5px;
}


/*------------------------------------*/
/* testomonials */
/*------------------------------------*/

.section-testimonials {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.81)), to(rgba(0, 0, 0, 0.81))),url(IMAGES/back-customers-min.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.81), rgba(0, 0, 0, 0.81)),url(IMAGES/back-customers-min.jpg)  
}

blockquote {
    padding: 2px;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5;
    left: -5;
}
cite {
    font-size: 95%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle
}



/*------------------------------------*/
/* siign up */
/*------------------------------------*/

.section-plan {
    background-color: #f4f4f4;
}

.plan-box {
    background-color: #fff;
    border-radius: 25px;
    width: 90%; 
    margin-left: 5%;
    -webkit-box-shadow: 0 2px 2px #efefef;
    box-shadow: 0 2px 2px #efefef;
}

.plan-box div {
    padding: 5px;
    border-bottom: 3px solid #e8e8e8;
}
.plan-box div:first-child {
    background-color: rgba(5, 242, 14, 0.11);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.plan-box div:last-child {
    text-align: center;
}

.plan-price {
    font-size: 300%;  
    margin-bottom: 10px; 
    font-weight: 100%;
    color:#10ed18; 
}

.plan-price span {
    font-size: 30%;
    font-weight: 300%;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}


/*------------------------------------*/
/* form */
/*------------------------------------*/


.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select, 
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
} 

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {outline: none;}



/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */

footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited, 
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.4s;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color:  rgb(240, 157, 0);
}


footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}



/*------------------------------------*/
/* Animation */
/*------------------------------------*/

.js--wp-1,
.js--wp-2,
.js--wp-3
{
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-4 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
    opacity: 1;
}
